
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Dirt&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.rubik-dirt-regular {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 300;
    font-style:oblique;
  }


.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:350;
    font-style: normal;
  }
  
